fastapi
uvicorn
sqlalchemy
pydantic>=2.0.0
python-jose[cryptography]
passlib[bcrypt]
requests
pandas
streamlit>=1.40.0
matplotlib
scikit-learn
python-multipart
altair>=5.0.0
gunicorn==21.2.0
python-dotenv==1.0.1